* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3edf7;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.skill {
  height: 160px;
  width: 160px;
  position: relative;
}

.outer-circle {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
}

.inner-circle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.25),
    inset -4px -4px 6px -1px rgba(0, 0, 0, 0.25),
    -0.5px -0.5px 0px rgba(225, 225, 225, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: bold;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: fillcircle 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes fillcircle {
  /* 472-472*65%=165.2 */
  100% {
    stroke-dashoffset: 165;
  }
}
